@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.h1{
    font-size: 2.8125rem;
    margin-left: 5%;
    font-family: "Oswald", sans-serif;

}
.imgHeader{
    width: 90%;
    height: 350px;
    object-fit:cover;
    object-position: center;
    margin: 0 auto;
    display: block;
}
.navbar{
    position: absolute;
    left: 65%;
    top: 40px;
}
.ul_header{
    display: flex;
    gap: 15px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
.li_header{
    width: 100px;
    background-color: rgb(154, 154, 217);
    height: 30px;
    box-shadow: 10px 5px 5px rgb(20, 20, 20);
    border: 2px solid rgb(20, 20, 20);
    list-style: none;
    cursor: pointer;
}
.a_header{
    font-family: "Oswald", sans-serif;
    font-size: .9375rem;
    font-weight: 600;
    text-decoration: none;
}
.ctenedorH2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90px;
    margin: 0 auto;
    background-color: aqua;
}
.ctendor{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;

}
.logo{
    width: 50%;
    height: 300px;
    object-fit: scale-down;
}
.palabraResaltada{
    font-family: "Oswald", sans-serif;
    font-size: 1.25rem;
}
.texto{
    font-family: "Poppins", sans-serif;
    font-size: .9375rem ;
}
.ctenedorTexto{
    width: 60%;
}
.separacion{
    line-height: 30px;
}
#blue{
    color: rgb(157, 157, 236);
    cursor: pointer;
}
.footer{
    /*text-align: center;
    margin-bottom: 2%;*/
    position: absolute;
    top:1200px;
    left: 50%;
}
.subtituloPolitica{
    text-align: center;
    font-size: .9375rem;
    font-family: "Oswald", sans-serif;
}
.margen{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 15px;
    position: relative;
    top: 40px;
    line-height: 40px
}

.estiloTable{
    width: 60%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 0 auto;
}

.estiloTable th,.estiloTable td {
    padding: 8px;
    text-align: left;
}
.estiloTable th {
    background-color: #f2f2f2;
}
.strong{
    color: black;
}
.ul{
    text-align: center;
    margin-top: 70px
}
.subtituloInformacion{
    text-align: center;
}